/* You can add global styles to this file, and also import other style files */
.shadowdom  {
    background-color: green;
}
.none  {
    background-color: green;
}
.emulated  {
    background-color: green;
}