/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-tab-body-wrapper {
  padding: 24px;
}

.shadowdom  {
    background-color: green;
}
.none  {
    background-color: green;
}
.emulated  {
    background-color: green;
}

:root {
  color-scheme: light dark;
  --bg-color: light-dark(#ffffff, blue);
  --text-color: light-dark(#000000, #fefffd);
}

[data-dark-mode] {
  color-scheme: dark;
}

button {
  background: var(--bg-color);
  color: var(--text-color);
}