<div class="container">
    <section class="blog">
        <h1>Defer loading!</h1>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam numquam et optio eveniet veritatis saepe nesciunt molestias id dicta, repellendus quos laudantium dolor, commodi eius quaerat dolores quam magni tempore.
        </p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam numquam et optio eveniet veritatis saepe nesciunt molestias id dicta, repellendus quos laudantium dolor, commodi eius quaerat dolores quam magni tempore.
        </p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam numquam et optio eveniet veritatis saepe nesciunt molestias id dicta, repellendus quos laudantium dolor, commodi eius quaerat dolores quam magni tempore.
        </p>

        <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit asperiores sint dolorem voluptatibus voluptatem consectetur commodi, vero corporis veritatis eaque accusamus voluptate. Repellat, quo. Quos accusantium ipsa laboriosam nam temporibus.
        Odio nisi voluptates, quos quas aspernatur pariatur at alias dignissimos atque vero vitae omnis, nulla eos quis expedita provident deleniti ab nemo eaque aliquam reprehenderit cumque distinctio! Molestias, dolor aspernatur.
        Aliquid nemo saepe eaque, delectus accusamus praesentium nam ducimus repellat excepturi doloremque, rem aut libero commodi iure! Placeat ea debitis eveniet facilis voluptates modi. Sunt autem eligendi voluptatem! Adipisci, exercitationem!
        Maxime deserunt, eius repellat eveniet at beatae ut quia recusandae incidunt hic tempora magnam. Sapiente ducimus ex in expedita, facilis dolor harum, similique vitae a necessitatibus velit nesciunt. Amet, beatae.
        Magnam, laudantium labore? Eveniet maiores autem atque iure consequuntur quos! Facilis rem natus nesciunt tempora quisquam perferendis illum sequi vitae non incidunt adipisci, praesentium eos blanditiis quasi at sed recusandae?
        </p>
        
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam sapiente, eius dicta, vero sed saepe ducimus porro est perspiciatis dolore autem repellendus, qui consequuntur et dolorum molestiae quia delectus. Placeat?
            Magni excepturi a dolorum velit fugiat voluptatibus praesentium aliquam perferendis placeat voluptate, ullam ducimus expedita non optio illum officia quaerat aperiam soluta earum porro eum iusto vero, accusamus error? Error.
            Perferendis blanditiis obcaecati est error deserunt enim vel eveniet cum atque expedita ut sapiente vero architecto asperiores provident amet quas, nihil exercitationem delectus. Quasi obcaecati tempora sit totam veritatis mollitia.
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam sapiente, eius dicta, vero sed saepe ducimus porro est perspiciatis dolore autem repellendus, qui consequuntur et dolorum molestiae quia delectus. Placeat?
            Magni excepturi a dolorum velit fugiat voluptatibus praesentium aliquam perferendis placeat voluptate, ullam ducimus expedita non optio illum officia quaerat aperiam soluta earum porro eum iusto vero, accusamus error? Error.
            Perferendis blanditiis obcaecati est error deserunt enim vel eveniet cum atque expedita ut sapiente vero architecto asperiores provident amet quas, nihil exercitationem delectus. Quasi obcaecati tempora sit totam veritatis mollitia.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam sapiente, eius dicta, vero sed saepe ducimus porro est perspiciatis dolore autem repellendus, qui consequuntur et dolorum molestiae quia delectus. Placeat?
            Magni excepturi a dolorum velit fugiat voluptatibus praesentium aliquam perferendis placeat voluptate, ullam ducimus expedita non optio illum officia quaerat aperiam soluta earum porro eum iusto vero, accusamus error? Error.
            Perferendis blanditiis obcaecati est error deserunt enim vel eveniet cum atque expedita ut sapiente vero architecto asperiores provident amet quas, nihil exercitationem delectus. Quasi obcaecati tempora sit totam veritatis mollitia.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam sapiente, eius dicta, vero sed saepe ducimus porro est perspiciatis dolore autem repellendus, qui consequuntur et dolorum molestiae quia delectus. Placeat?
            Magni excepturi a dolorum velit fugiat voluptatibus praesentium aliquam perferendis placeat voluptate, ullam ducimus expedita non optio illum officia quaerat aperiam soluta earum porro eum iusto vero, accusamus error? Error.
            Perferendis blanditiis obcaecati est error deserunt enim vel eveniet cum atque expedita ut sapiente vero architecto asperiores provident amet quas, nihil exercitationem delectus. Quasi obcaecati tempora sit totam veritatis mollitia.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam sapiente, eius dicta, vero sed saepe ducimus porro est perspiciatis dolore autem repellendus, qui consequuntur et dolorum molestiae quia delectus. Placeat?
            Magni excepturi a dolorum velit fugiat voluptatibus praesentium aliquam perferendis placeat voluptate, ullam ducimus expedita non optio illum officia quaerat aperiam soluta earum porro eum iusto vero, accusamus error? Error.
            Perferendis blanditiis obcaecati est error deserunt enim vel eveniet cum atque expedita ut sapiente vero architecto asperiores provident amet quas, nihil exercitationem delectus. Quasi obcaecati tempora sit totam veritatis mollitia.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam sapiente, eius dicta, vero sed saepe ducimus porro est perspiciatis dolore autem repellendus, qui consequuntur et dolorum molestiae quia delectus. Placeat?
            Magni excepturi a dolorum velit fugiat voluptatibus praesentium aliquam perferendis placeat voluptate, ullam ducimus expedita non optio illum officia quaerat aperiam soluta earum porro eum iusto vero, accusamus error? Error.
            Perferendis blanditiis obcaecati est error deserunt enim vel eveniet cum atque expedita ut sapiente vero architecto asperiores provident amet quas, nihil exercitationem delectus. Quasi obcaecati tempora sit totam veritatis mollitia.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam sapiente, eius dicta, vero sed saepe ducimus porro est perspiciatis dolore autem repellendus, qui consequuntur et dolorum molestiae quia delectus. Placeat?
            Magni excepturi a dolorum velit fugiat voluptatibus praesentium aliquam perferendis placeat voluptate, ullam ducimus expedita non optio illum officia quaerat aperiam soluta earum porro eum iusto vero, accusamus error? Error.
            Perferendis blanditiis obcaecati est error deserunt enim vel eveniet cum atque expedita ut sapiente vero architecto asperiores provident amet quas, nihil exercitationem delectus. Quasi obcaecati tempora sit totam veritatis mollitia.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam sapiente, eius dicta, vero sed saepe ducimus porro est perspiciatis dolore autem repellendus, qui consequuntur et dolorum molestiae quia delectus. Placeat?
            Magni excepturi a dolorum velit fugiat voluptatibus praesentium aliquam perferendis placeat voluptate, ullam ducimus expedita non optio illum officia quaerat aperiam soluta earum porro eum iusto vero, accusamus error? Error.
            Perferendis blanditiis obcaecati est error deserunt enim vel eveniet cum atque expedita ut sapiente vero architecto asperiores provident amet quas, nihil exercitationem delectus. Quasi obcaecati tempora sit totam veritatis mollitia.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam sapiente, eius dicta, vero sed saepe ducimus porro est perspiciatis dolore autem repellendus, qui consequuntur et dolorum molestiae quia delectus. Placeat?
            Magni excepturi a dolorum velit fugiat voluptatibus praesentium aliquam perferendis placeat voluptate, ullam ducimus expedita non optio illum officia quaerat aperiam soluta earum porro eum iusto vero, accusamus error? Error.
            Perferendis blanditiis obcaecati est error deserunt enim vel eveniet cum atque expedita ut sapiente vero architecto asperiores provident amet quas, nihil exercitationem delectus. Quasi obcaecati tempora sit totam veritatis mollitia.
        </p>
        <div>

            @if(isAPILoaded()) {
                <!-- loads youtube player from YouTubePlayerModule -->
                @defer(on hover){
                    
                    <youtube-player 
                     [playerVars]="{ autoplay: 1 }"
                         [width]="800"
                         [height]="400"
                         [videoId]="videoId"
                     />
                 }
                 @placeholder(minimum 1s) {
                    <app-place-holder
                    [loading]="true"
                     />
                 }
                 @loading() {
                     <app-place-holder
                     [loading]="true"
                     />
                 }
            }
        </div>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam sapiente, eius dicta, vero sed saepe ducimus porro est perspiciatis dolore autem repellendus, qui consequuntur et dolorum molestiae quia delectus. Placeat?
            Magni excepturi a dolorum velit fugiat voluptatibus praesentium aliquam perferendis placeat voluptate, ullam ducimus expedita non optio illum officia quaerat aperiam soluta earum porro eum iusto vero, accusamus error? Error.
            Perferendis blanditiis obcaecati est error deserunt enim vel eveniet cum atque expedita ut sapiente vero architecto asperiores provident amet quas, nihil exercitationem delectus. Quasi obcaecati tempora sit totam veritatis mollitia.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam sapiente, eius dicta, vero sed saepe ducimus porro est perspiciatis dolore autem repellendus, qui consequuntur et dolorum molestiae quia delectus. Placeat?
            Magni excepturi a dolorum velit fugiat voluptatibus praesentium aliquam perferendis placeat voluptate, ullam ducimus expedita non optio illum officia quaerat aperiam soluta earum porro eum iusto vero, accusamus error? Error.
            Perferendis blanditiis obcaecati est error deserunt enim vel eveniet cum atque expedita ut sapiente vero architecto asperiores provident amet quas, nihil exercitationem delectus. Quasi obcaecati tempora sit totam veritatis mollitia.
        </p>
        
    </section>
</div>

